@charset "UTF-8";

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1461726056_38271.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1461726056_38271.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1461726056_38271.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1461726056_38271.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1461726056_38271.svg#iconfont') format('svg'); /* iOS 4.1- */
}


.qIcon:before {
  font-family: 'iconfont' !important;
  display: inline-block;
  /*width: 24px;*/
  text-align: center;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-text-stroke-width: 0.2px;
}


.qIcon.baocun:before { content: "\e600"; }
.qIcon.anquan:before { content: "\e601"; }
.qIcon.close:before { content: "\e602"; }
.qIcon.tupian:before { content: "\e603"; }
.qIcon.mima:before { content: "\e604"; }
.qIcon.shangpin:before { content: "\e605"; }
.qIcon.shouye:before { content: "\e606"; }
.qIcon.tongji:before { content: "\e607"; }
.qIcon.caiwu:before { content: "\e608"; }
.qIcon.tuichu:before { content: "\e609"; }
.qIcon.xitong:before { content: "\e60a"; }
.qIcon.thickArrowDown:before { content: "\e60b"; }
.qIcon.email:before { content: "\e60c"; }
.qIcon.yuangong:before { content: "\e60d"; }
.qIcon.zhequ:before { content: "\e60e"; }
.qIcon.yunshangcheng:before { content: "\e60f"; }
.qIcon.wangdian:before { content: "\e610"; }
.qIcon.bangzhu:before { content: "\e611"; }
.qIcon.fuwushichang:before { content: "\e612"; }
.qIcon.solidArrowDown:before { content: "\e613"; }
.qIcon.solidArrowUp:before { content: "\e613"; @include rotate(180deg);}
.qIcon.solidArrowLeft:before { content: "\e613"; @include rotate(90deg);}
.qIcon.solidArrowRight:before { content: "\e613"; @include rotate(-90deg);}
.qIcon.phone:before { content: "\e614"; }
.qIcon.collect:before { content: "\e615"; }
.qIcon.edit:before { content: "\e616"; }
.qIcon.collected:before { content: "\e617"; }
.qIcon.jihuo:before { content: "\e618"; }
.qIcon.gonghuo:before { content: "\e619"; }
.qIcon.dasuolvetuliebiao:before { content: "\e61a"; }
.qIcon.liebiao:before { content: "\e61b"; }
.qIcon.kuaijiefangshi:before { content: "\e61c"; }
.qIcon.gonggao:before { content: "\e61d"; }
.qIcon.xinzengshangpin:before { content: "\e61e"; }
.qIcon.banshou:before { content: "\e61f"; }
.qIcon.jiaofei:before { content: "\e620"; }
.qIcon.quanzhiliangkaifapingtai:before { content: "\e621"; }
.qIcon.fuwu:before { content: "\e622"; }
.qIcon.yunyingzhushou:before { content: "\e623"; }
.qIcon.yuntuiguang:before { content: "\e624"; }
.qIcon.rili:before { content: "\e625"; }
.qIcon.zhuce:before { content: "\e626"; }
.qIcon.renzhengyonghu:before { content: "\e627"; }
.qIcon.gouwuche:before { content: "\e628"; }
.qIcon.shangcheng:before { content: "\e629"; }
.qIcon.jianzhan:before { content: "\e62a"; }
.qIcon.yulanzhandian:before { content: "\e62b"; }
.qIcon.edit2:before { content: "\e62c"; }
.qIcon.jiahao:before { content: "\e62d"; }
.qIcon.dualArrowRight:before { content: "\e62e"; }
.qIcon.yiyaoxiang:before { content: "\e62f"; }
.qIcon.xizhuang:before { content: "\e630"; }
.qIcon.zhongbiaoshoushi:before { content: "\e631"; }
.qIcon.shipin:before { content: "\e632"; }
.qIcon.wangluo:before { content: "\e633"; }
.qIcon.qiche:before { content: "\e634"; }
.qIcon.zhanghuxinxi:before { content: "\e635"; }
.qIcon.shuma:before { content: "\e636"; }
.qIcon.kuaizhuang:before { content: "\e637"; }
.qIcon.jiayongdianqi:before { content: "\e638"; }
.qIcon.shengxian:before { content: "\e639"; }
.qIcon.muying:before { content: "\e63a"; }
.qIcon.iconkuai:before { content: "\e63b"; }
.qIcon.huazhuang:before { content: "\e63c"; }
.qIcon.calendar:before { content: "\e63d"; }
.qIcon.danduduihao:before { content: "\e63f"; }
.qIcon.shangchuan:before { content: "\e640"; }
.qIcon.xiazai:before { content: "\e641"; }
.qIcon.zaixianshenqing:before { content: "\e642"; }
.qIcon.search:before { content: "\e643"; }
.qIcon.closeCircle:before { content: "\e644"; }
.qIcon.folder:before { content: "\e645"; }
.qIcon.time:before { content: "\e646"; }
.qIcon.dualArrowLeft:before { content: "\e647"; }
.qIcon.file:before { content: "\e648"; }
.qIcon.bohui:before { content: "\e649"; }
.qIcon.arrowUp:before { content: "\e64a"; }
.qIcon.arrowDown:before { content: "\e64b"; }
.qIcon.shenhezhong:before { content: "\e64c"; }
.qIcon.goumaikaitong:before { content: "\e64d"; }
.qIcon.shenhetongguo:before { content: "\e64e"; }
.qIcon.arrowLeft:before { content: "\e64f"; }
.qIcon.arrowRight:before { content: "\e650"; }
.qIcon.tixian:before { content: "\e651"; }
.qIcon.yonghu:before { content: "\e68c"; }
.qIcon.gouwu:before { content: "\e6fa"; }
.qIcon.yundinghuo:before { content: "\e73d"; }
.qIcon.yunhuoyuan:before { content: "\e742"; }
.qIcon.eshenghuo:before { content: "\e782"; }
.qIcon.yunxiaodian:before { content: "\e805"; }
.qIcon.xiaoshouzhushou:before { content: "\e820"; }
.qIcon.quanping:before { content: "\e834"; }

